[user]
	name = arrogantrobot
	email = arrogantrobot@gmail.com

[color]
        ui = auto

[alias]
	st = status
	b = branch
	lg = log --graph --decorate --pretty=oneline --abbrev-commit
        d = diff
        co = checkout
        up = pull --rebase origin
	graph = log --pretty=format:i\"%h %s\" --graph
	sup = !git stash && git up && git pop

[merge]
	tool = vimdiff
[log]
	decorate = full
        
